.hero-section {
    background-image: url("../img/college-building.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Oscurece un poco para que el texto sea más visible */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; /* Se asegura que esté por encima del overlay */
}

.student-image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.student-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
